*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body{
  width: 100%;
  height: 100vh;
}

.Home-home {
  color: white;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg,#5A5EB2,#2D1254,#2940d3 ,#D5FBFF);
  /* background: linear-gradient(-45deg, #e73c7e, #2b1150, #23a6d5,#2940d3, #2940d3); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Home-main{
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.Home-content{
  margin: 0 0 0 10%;
}
.job-ready{
  margin-bottom: 1.5%;
  color:yellow;
}

.Head-div{
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: white;
  overflow: hidden;
  z-index: 20;
  }
.main-div{
  display: flex;
  justify-content: center;
  margin: 0 0 0 5%;
  align-items: center;
}
a{
  color:white;
}
.nav-list{
  display: flex;
  list-style: none;
  color: white;
  margin-bottom: 0;
}
.nav-list-item{
  margin-right: 30px;
}
.nav-list-item:hover{
  color: #000747;
}
.nav-list-content{
  text-decoration: none;
}
a:visited{
  color: white;
}

.logo-div{
  flex: 1;
  margin-right: 30px;
  justify-content:  center;
}

.sign-div{
  margin-left: auto;
  margin-right: 5%;
 
}
.sign-content:hover{
  background-color: #000747;
  border-color: #000747;

}
.sign-content{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  width: 150px;
  height: 50px;
  border-radius: 100px;
 align-items: center;
 justify-content:  center;
 color: white;
 cursor: pointer;
}
.nav-list-item-div{
display: flex;
}
.get{
  font-size: 3rem;
  color: #0FF6FF;
}


.solid {
  background-color: black;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.get-s-div-ext{
  border: 1px solid;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50px;
  margin-top: 20px;
  background-color: #000747;
  border-color: #000747;
}
.get-s-div-ext:hover{
  background-color: transparent;
  
}

.Container_style{
 
  position: sticky;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Card_style{
  height: 600px;
  width: 600px;
  padding-top: 80px;
  text-align: center;
  color: #FFF;
  font-family: "sans-serif";
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
 background-color: #2940d3;
 
}
.contact-div{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-above{
 
  width: 100%;
  flex: 3;
}
.main-footer{
  flex: 1;
  width: 100%;
  background-color: #000747;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.foot-h3{
  position: absolute;
  bottom: 0;
  right: 850px;
  
}
/*styling for footer*/

.footer_intro
{
  background: linear-gradient(-45deg,#5A5EB2,#2D1254,#2940d3 ,#D5FBFF);
  /* background: linear-gradient(-45deg, #e73c7e, #2b1150, #23a6d5,#2940d3, #2940d3); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
}

.footer_main
{    display: flex;
    
    justify-content:space-around;
    text-align: center;
}   

.footer_mainbox1
{
    flex:1;
    color: beige;
    font-family: 'Big Shoulders Display', cursive;
}

.footer_mainbox2
{
    flex: 1;
    color: beige;
    font-family: 'Big Shoulders Display', cursive;
  
}

.footer_mainbox3
{
    flex: 1;
    color: beige;
    font-family: 'Big Shoulders Display', cursive;
   
}

.footer_mainhr{
    background-color: teal;
    width: 3em;
    align-content: center;
}

.footer_down
{
  color: beige;
  font-family: 'Big Shoulders Display', cursive;
}
.ib{
  padding: 0.3em;
}

.ie {
  color: #DBE6FD;
}

.linked
{
  color :#21209C;
}
.twitter
{
  color: #CADEFC;
}
.insta
{
  color : #A73489;
}
.facebook
{
  color: #04009A;
}

/*footer css ends here*/
.response-main{
  width: 100%;
  height: 100vh;
  background-color: #2940d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.response-text{
  background-color: #CAC7C7;
  border: 1px solid;
  border-radius: 30px;
  height: 600px;
  width: 600px;
  text-align: center;
  margin-right:50px;
}
.animation{
  background-color: #CAC7C7;
  border: 1px solid;
  border-radius: 30px;
  height: 600px;
  width: 600px;
  text-align: center;
}
.mode-main{
  background-color: white;
}
.mode-text{
  background-color: teal;
}



/* Login css */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.imgBx {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
  /* background: #ff0; */
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}

section .container .user .imgBx img {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 350px;
  height: 350px;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  z-index: 1;
  width: 0%;
   display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; 
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: #000747;
}

.active {
  border-bottom: 1px solid white;
}

/* button{
  border-width: 0px;
} */