.dashb{
  width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
}

/* navbar */

.dash-n-div{
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  /* color: white; */
  color: black;
  background-color: #C4BFBF;
  }

.main-n-div{
  display: flex;  
  margin: 0 0 0 5%;
  align-items: center;
}

.sec-n-div{
  flex: 2;
  
}

.d-nav-list{
  display: flex;
  list-style: none;
  /* color: white; */
  color: black;
}
.d-nav-list-item{
  margin-right: 30px;
}
.d-nav-list-item:hover{
  color: #000747;
}
/* .d-nav-list-content{
  text-decoration: none;
} */

.d-nav-list-item-div{
  display: flex;
  }


  .sign-div{
    margin-left: auto;
    margin-right: 5%;
   
  }
  .sign-content:hover{
    background-color: #000747;
    border-color: #000747;
  
  }
  .sign-content{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 150px;
    height: 50px;
    border-radius: 100px;
   align-items: center;
   justify-content:  center;
   /* color: white; */
   cursor: pointer;
  }

/* footer */
  .dfoot {
      display: flex;
      align-items: center;
      justify-content: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-color: #004AAD;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
  
  .dfoot.p {
    color: #ccc;
  }