.navbar{
  background: linear-gradient(160deg, #FF7600, #FF7600 60%, #F58634 60%, #F58634);
  width:100%;
  margin-top:0px;
  position:fixed;
  z-index:5;
  overflow: hidden;
}
.nav-item{
  padding:10px 10px;
}
.nav-link{
  background-color: transparent;
  transition: background-color 0.5s;
  border-radius: 5px;
 
}
.logoname{
  color:#fff;
  padding:10px 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
  font-weight: 500;
}
.nav-link:hover{
  background-color: black;
  color:#fff;

}

